In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('../Data/attacks.csv', encoding='latin1')

# 1. miramos cual es el shape del dataframe para saber y tener una idea general de como es

In [3]:
data.shape

(25723, 24)

# 2.hacemos una copia del dataframe original para poder editarlo y limpiarlo

In [4]:
data_sharks = data
data_sharks.shape

(25723, 24)

# 3. vamos a ver cuantos nulos hay y si podemos borrar filas

In [5]:
data_sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
null_f= data_sharks.isna().sum(axis=1)
null_f.sort_values(ascending=False)
null_f

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

In [7]:
null_f0= null_f[null_f>20]
null_f0.index
data_sharks.drop(null_f0.index, inplace=True)

In [8]:
data_sharks.shape

(6302, 24)

In [9]:
data_sharks.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [10]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# 4. limpieza de countries, areas y location

In [11]:
data_country_1=data_sharks[['Country', 'Area','Location']]
data_country_1

,Country,Area,Location
0,USA,California,"Oceanside, San Diego County"
1,USA,Georgia,"St. Simon Island, Glynn County"
2,USA,Hawaii,"Habush, Oahu"
3,AUSTRALIA,New South Wales,Arrawarra Headland
4,MEXICO,Colima,La Ticla
...,...,...,...
6297,AUSTRALIA,Western Australia,Roebuck Bay
6298,AUSTRALIA,Western Australia,NaN
6299,USA,North Carolina,Ocracoke Inlet
6300,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW"
6301,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee"

In [12]:
data_missing_1=data_country_1[(data_country_1['Country'].isnull()) & (data_country_1['Area'].isnull()) & (data_country_1['Location'].isnull())]
data_missing_1.index

Index([  62,  525, 3378, 3388, 3395, 3399, 3425, 3661, 4726, 4729, 4911, 5060,
       5586, 5587, 5636, 5770, 5839, 5885, 5920, 5996, 6001, 6092, 6119, 6131,
       6133, 6165, 6171, 6199, 6259],
      dtype='int64')

In [13]:
data_sharks.drop(data_missing_1.index, inplace=True)

In [14]:
data_sharks.shape

(6273, 24)

In [15]:
mapeo_Area = {
    'English Channel': 'england',
    'Caribbean Sea': 'caribe',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'French Southern Territories': 'france',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'St Helena': 'australia',
    'Ionian Sea': 'italy'
 }

In [16]:
data_sharks[(data_sharks['Country'].isnull()) & (data_sharks['Area'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3605,1965.10.21,21-Oct-1965,1965.0,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,...,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0,NaN,NaN
4639,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,...,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0,NaN,NaN
5425,1909.01.17,17-Jan-1909,1909.0,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,...,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0,NaN,NaN
5810,1881.06.25,25-Jul-1881,1881.0,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,...,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0,NaN,NaN
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,...,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0,NaN,NaN
6206,ND-0114,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN

In [17]:
mapeo_location={
    'Florida Strait': 'usa',
    '225 miles east of Hong Kong': 'china',
    'Near the equator': 'cameroon',
    'Santa Cruz': 'usa',
    'Carlisle Bay': 'caribe',
    'In a river feeding into the Bay of Bengal':'india'
    
}

In [18]:
for index, row in data_sharks[data_sharks['Country'].isnull() & data_sharks['Area'].isnull() & data_sharks['Location'].notnull()].iterrows():
    if row['Location'] in mapeo_location:
        data_sharks.at[index, 'Country'] = mapeo_location[row['Location']]
        data_sharks.at[index, 'Area'] =  mapeo_location[row['Location']]

In [19]:
data_sharks[(data_sharks['Country'].isnull()) & (data_sharks['Location'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2956,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,...,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,NaN,NaN
4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,...,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0,NaN,NaN
4231,1956.09.13,13-Sep-1956,1956.0,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,...,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0,NaN,NaN
4700,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,...,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0,NaN,NaN
4712,1942.06.00,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0,NaN,NaN
5612,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,...,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,NaN,NaN
5742,1887.07.30,30-Jul-1887,1887.0,Sea Disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,...,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0,NaN,NaN
5808,1881.08.16.R,Reported 16-Aug-1881,1881.0,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,...,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0,NaN,NaN
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,...,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,...,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN

In [20]:
mapeo_Area = {
    'English Channel': 'england',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'Ionian Sea': 'italy'
 }

In [39]:
for index, row in data_sharks[data_sharks['Country'].isnull() & data_sharks['Location'].isnull() & data_sharks['Area'].notnull()].iterrows():
    if row['Area'] in mapeo_Area:
        data_sharks.at[index, 'Country'] = mapeo_Area[row['Area']]
        data_sharks.at[index, 'Location'] =  mapeo_Area[row['Area']]

In [46]:
null_1=data_sharks[(data_sharks['Area'].isnull()) & (data_sharks['Location'].isnull())]
null_1.index
data_sharks.drop(null_1.index, inplace=True)
data_sharks.shape

(6062, 24)

# 5 voy a limpiar la fila de country con un diccionario para que tengan nombres estandar

In [48]:
data_sharks.Country.unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'cuba', 'mauritius', 'new zealand',
       'spain', 'samoa', 'solomon islands', 'japan', 'egypt',
       'st helena, british overseas territory', 'comoros', 'reunion',
       'french polynesia', 'united kingdom', 'united arab emirates',
       'philippines', 'indonesia', 'china', 'columbia', 'cape verde',
       'fiji', 'dominican republic', 'cayman islands', 'aruba',
       'mozambique', 'puerto rico', 'italy', 'greece', 'st. martin',
       'france', 'trinidad & tobago', 'kiribati', 'israel', 'taiwan',
       'jamaica', 'palestinian territories', 'seychelles', 'nigeria',
       'tonga', 'scotland', 'canada', 'croatia', 'saudi arabia', 'chile',
       'antigua', 'papua new guinea', 'kenya', 'russia', 'turks & caicos',
       'united arab emirates (uae)', 'azores', 'south korea', 'malta',
       'vietnam', 'madagascar', 'guam', 'panama', 'somalia', 'nevis',
       'british virgin islands', 'norway', 'yemen', 'gulf of aden',
       'belize', 'sierra leone', 'atlantic ocean', 'st. maartin',
       'grand cayman', 'vanuatu', 'mexico ', 'honduras', 'venezuela',
       'sri lanka', ' tonga', 'uruguay', 'india', 'micronesia',
       'caribbean sea', 'okinawa', 'tanzania', 'marshall islands',
       'senegal', 'egypt / israel', 'hong kong', 'el salvador', 'angola',
       'montenegro', 'iran', 'tunisia', 'namibia', 'north atlantic ocean',
       'portugal', 'bangladesh', 'palau', 'western samoa',
       'british isles', nan, 'grenada', 'iraq', 'bermuda', 'turkey',
       'singapore', 'new britain', 'sudan', 'pacific ocean ',
       'new guinea', 'red sea', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'north pacific ocean',
       'red sea / indian ocean', 'pacific ocean', 'north sea',
       'nicaragua ', 'maldive islands', 'american samoa', 'gabon',
       'mayotte', 'north atlantic ocean ', 'the balkans', 'sudan?',
       'argentina', 'indian ocean', 'netherlands antilles', 'liberia',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'mid-pacifc ocean', 'slovenia',
       'curacao', 'iceland', 'italy / croatia', 'barbados', 'monaco',
       'guyana', 'haiti', 'san domingo', 'ireland', 'cameroon', 'yemen ',
       'reunion island', 'cyprus', 'egypt ', 'burma', 'lebanon',
       'martinique', 'british new guinea', 'ocean', 'georgia', 'tuvalu',
       'guinea', 'equatorial guinea / cameroon', 'cook islands', 'tobago',
       'peru', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'sweden', 'caribe', 'djibouti', 'korea', 'ceylon (sri lanka)'],
      dtype=object)

In [ ]:
mapeo_Pais = {
    'usa': 'usa',
    'australia': 'australia',
    'mexico': 'mexico',
    'brazil': 'brazil',
    'england': 'england',
    'south africa': 'south africa',
    'thailand': 'thailand',
    'costa rica': 'costa rica',
    'maldives': 'maldives',
    'bahamas': 'bahamas',
    'new caledonia': 'new caledonia',
    'ecuador': 'ecuador',
    'malaysia': 'malaysia',
    'libya': 'libya',
    'cuba': 'cuba',
    'mauritius': 'mauritius',
    'new zealand': 'new zealand',
    'spain': 'spain',
    'samoa': 'samoa',
    'solomon islands': 'solomon islands',
    'japan': 'japan',
    'egypt': 'egypt',
    'st helena, british overseas territory': 'st helena, british overseas territory',
    'comoros': 'comoros',
    'reunion': 'reunion',
    'french polynesia': 'french polynesia',
    'united kingdom': 'united kingdom',
    'united arab emirates': 'united arab emirates',
    'philippines': 'philippines',
    'indonesia': 'indonesia',
    'china': 'china',
    'columbia': 'columbia',
    'cape verde': 'cape verde',
    'fiji': 'fiji',
    'dominican republic': 'dominican republic',
    'cayman islands': 'cayman islands',
    'aruba': 'aruba',
    'mozambique': 'mozambique',
    'puerto rico': 'puerto rico',
    'italy': 'italy',
    'greece': 'greece',
    'st. martin': 'st. martin',
    'france': 'france',
    'trinidad & tobago': 'trinidad & tobago',
    'kiribati': 'kiribati',
    'israel': 'israel',
    'taiwan': 'taiwan',
    'jamaica': 'jamaica',
    'palestinian territories': 'palestinian territories',
    'seychelles': 'seychelles',
    'nigeria': 'nigeria',
    'tonga': 'tonga',
    'scotland': 'scotland',
    'canada': 'canada',
    'croatia': 'croatia',
    'saudi arabia': 'saudi arabia',
    'chile': 'chile',
    'antigua': 'antigua',
    'papua new guinea': 'papua new guinea',
    'kenya': 'kenya',
    'russia': 'russia',
    'turks & caicos': 'turks & caicos',
    'united arab emirates (uae)': 'united arab emirates (uae)',
    'azores': 'azores',
    'south korea': 'south korea',
    'malta': 'malta',
    'vietnam': 'vietnam',
    'madagascar': 'madagascar',
    'guam': 'guam',
    'panama': 'panama',
    'somalia': 'somalia',
    'nevis': 'nevis',
    'british virgin islands': 'british virgin islands',
    'norway': 'norway',
    'yemen': 'yemen',
    'gulf of aden': 'gulf of aden',
    'belize': 'belize',
    'sierra leone': 'sierra leone',
    'atlantic ocean': 'atlantic ocean',
    'st. maartin': 'st. maartin',
    'grand cayman': 'grand cayman',
    'vanuatu': 'vanuatu',
    'mexico ': 'mexico ',
    'honduras': 'honduras',
    'venezuela': 'venezuela',
    'sri lanka': 'sri lanka',
    ' tonga': ' tonga',
    'uruguay': 'uruguay',
    'india': 'india',
    'micronesia': 'micronesia',
    'caribbean sea': 'caribbean sea',
    'okinawa': 'okinawa',
    'tanzania': 'tanzania',
    'marshall islands': 'marshall islands',
    'senegal': 'senegal',
    'egypt / israel': 'egypt
 }

# PRUEBAS: voy a comparar la fila de country con Area y ver so puedo limpiar nulos o remplazar nulos por nombres

In [23]:
data_sharks['Country'] = data_sharks['Country'].str.lower()

data_sharks.Country.unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'cuba', 'mauritius', 'new zealand',
       'spain', 'samoa', 'solomon islands', 'japan', 'egypt',
       'st helena, british overseas territory', 'comoros', 'reunion',
       'french polynesia', 'united kingdom', 'united arab emirates',
       'philippines', 'indonesia', 'china', 'columbia', 'cape verde',
       'fiji', 'dominican republic', 'cayman islands', 'aruba',
       'mozambique', 'puerto rico', 'italy', 'atlantic ocean', 'greece',
       'st. martin', 'france', 'papua new guinea', 'trinidad & tobago',
       'kiribati', 'israel', 'diego garcia', 'taiwan', 'jamaica',
       'palestinian territories', 'guam', 'seychelles', 'belize',
       'nigeria', 'tonga', 'scotland', 'canada', 'croatia',
       'saudi arabia', 'chile', 'antigua', 'kenya', 'russia',
       'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'honduras',
       'venezuela', 'sri lanka', ' tonga', 'uruguay', 'india',
       'micronesia', 'caribbean sea', 'okinawa', 'tanzania',
       'marshall islands', 'egypt / israel', 'northern arabian sea',
       'hong kong', 'el salvador', 'angola', 'bermuda', 'montenegro',
       'iran', nan, 'tunisia', 'namibia', 'north atlantic ocean',
       'portugal', 'south china sea', 'bangladesh', 'palau',
       'western samoa', 'pacific ocean ', 'british isles', 'grenada',
       'iraq', 'turkey', 'singapore', 'new britain', 'sudan',
       'johnston island', 'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'monaco', 'guyana', 'haiti', 'san domingo', 'ireland', 'kuwait',
       'cameroon', 'yemen ', 'reunion island', 'falkland islands',
       'crete', 'cyprus', 'egypt ', 'west indies', 'burma', 'lebanon',
       'paraguay', 'british new guinea', 'ceylon', 'ocean', 'georgia',
       'syria', 'tuvalu', 'indian ocean?', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'greenland', 'mediterranean sea', 'sweden', 'caribe', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea',
       'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

In [24]:
data_country=data_sharks[['Country', 'Area']]
data_country

                 Country               Area
0                    usa         California
1                    usa            Georgia
2                    usa             Hawaii
3              australia    New South Wales
4                 mexico             Colima
...                  ...                ...
6297           australia  Western Australia
6298           australia  Western Australia
6299                 usa     North Carolina
6300              panama                NaN
6301  ceylon (sri lanka)   Eastern Province

[6273 rows x 2 columns]

In [25]:
data_missing=data_country[(data_country['Country'].isnull()) & (data_country['Area'].isnull())]
data_missing.index
#data_sharks.iloc[data_country[(data_country['Country'].isnull()) & (data_country['Area'].isnull())].index] (sirve para comprobar que la funcion que estoy haciendo esta bien)

Index([], dtype='int64')

In [26]:
data_country.drop(data_missing.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_17984\735983330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_country.drop(data_missing.index, inplace=True)

In [27]:
data_country

                 Country               Area
0                    usa         California
1                    usa            Georgia
2                    usa             Hawaii
3              australia    New South Wales
4                 mexico             Colima
...                  ...                ...
6297           australia  Western Australia
6298           australia  Western Australia
6299                 usa     North Carolina
6300              panama                NaN
6301  ceylon (sri lanka)   Eastern Province

[6273 rows x 2 columns]

In [28]:
data_country.isna().sum()

Country     15
Area       420
dtype: int64

In [29]:
data_country_1=data_sharks.iloc[data_country[(data_country['Country'].isnull())].index]
data_country_1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2958,1983.00.00.b,1983,1983.0,Provoked,usa,North & South Carolina,NaN,Fishing,Commercial fishermen,M,...,Blue sharks,F. Schwartz,1983.00.00.b-Carolina-Fishermen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.b,1983.00.00.b,3345.0,NaN,NaN
3391,1970.06.13.b,13-Jun-1970,1970.0,Unprovoked,grenada,St. Andrew Parish,Grenville,Wading,Lincoln Alpheus,M,...,NaN,"E. Pace, FSAF",1970.06.13.b-LincolnJohn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.06.13.b,1970.06.13.b,2912.0,NaN,NaN
4026,1960.00.00.h,Early summer 1960,1960.0,Invalid,caribbean sea,NaN,"Between Key West, Florida & Guantanamo Bay, Cuba",Aircraft crashed into sea,"male, airline pilot",M,...,Shark involvement prior to death was not confi...,U.S. Naval Aviation Safety Center,1960.00.00.h-aircraft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.00.00.h,1960.00.00.h,2277.0,NaN,NaN
4239,1956.08.01,1-Aug-1956,1956.0,Unprovoked,south africa,KwaZulu-Natal,"Chain Rocks, Amanzimtoti",Free diving for crayfish,Maximilliaan Roual Van Dam,M,...,NaN,"Umtali Post, 8/8/1956, M. Levine, GSAF",1956.08.01-VanDam.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.08.01,1956.08.01,2064.0,NaN,NaN
4274,1955.12.11,11-Dec-1955,1955.0,Boating,usa,Florida,Â½ mile offshore & 9 miles north of Fort Pierce,Fishing for pompano,"boat, occupants: P.D. Neilly & Charlton Anderson",NaN,...,NaN,"R.F. Hutton, 3/30/1959, citing Miami Herald; T...",1955.12.11-boat Neilly_Charlton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.12.11,1955.12.11,2029.0,NaN,NaN
4506,1949.08.10.R,Reported 10-Aug-1949,1949.0,Unprovoked,italy,Calabria,Cosenza,Swimming,Giovanni Picarelli,M,...,NaN,"C. Moore, GSAF",1949.08.10.R-Picarelli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.08.10.R,1949.08.10.R,1797.0,NaN,NaN
4708,1942.07.06,06-Jul-1942,1942.0,Provoked,italy,Liguria,Savona,Sculling,Gino Bardolini,M,...,Porbeagle shark,"C. Moore, GSAF",1942.07.06-Bardolini,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.07.06,1942.07.06,1595.0,NaN,NaN
4720,1942.00.00.k,1942,1942.0,Sea Disaster,indonesia,East Java,Surabaya,Captured Allied soldiers were squeezed into 3'...,200 soldiers,M,...,NaN,G. Duncan,1942.00.00.k-PigBasketAtrocity.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.k,1942.00.00.k,1583.0,NaN,NaN
5031,1930.12.13,13-Dec-1930,1930.0,Unprovoked,australia,New South Wales,"Sailor Bay, Middle Harbour, Sydney",Fell overboard,Frank Kenny,M,...,NaN,"Northern Standard (Dawin), 12/18/1930",1930.12.13-Kenny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1930.12.13,1930.12.13,1272.0,NaN,NaN
5626,1896.00.00.a,1896,1896.0,Unprovoked,haiti,Off Cape Haitien,NaN,Wading,Syrian,M,...,NaN,C. R. Baker & C.M. Rose; V.M. Coppleson (1958...,1896.00.00.a-Syrian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1896.00.00.a,1896.00.00.a,677.0,NaN,NaN
5757,1886.03.06.R,Reported 06-Mar-1886,1886.0,Invalid,new zealand,South Island,Dunedin,Bathing,Rodwell,M,...,Questionable,"Feilding Star, 3/6/1886, p.2",1886.03.06-Rodwell-NZ.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1886.03.06.R,1886.03.06.R,546.0,NaN,NaN
5824,1880.01.03,03-Jan-1880,1880.0,Unprovoked,australia,New South Wales,Cooranbong,Bathing,Teresa Bonnell,F,...,NaN,"Morning Bulletin, 1/28/1880",1880.01.03-Bonnell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1880.01.03,1880.01.03,479.0,NaN,NaN
6162,1700.00.00.b,1700s,1700.0,Unprovoked,france,CÃ´te d'Azur,Antibes,Bathing,seaman,M,...,White shark,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,141.0,NaN,NaN
6203,ND-0118,1896-1913,0.0,Unprovoked,libya,Cyrenaica,Kirinaiki,Sponge diving,a diver from Kalymnos,M,...,NaN,M. Bardanis,ND-0118-Stathis-partner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0118,ND-0118,100.0,NaN,NaN
6205,ND-0115,Before 08-Jun-1912,0.0,Unprovoked,new zealand,North Island,"Point Halsey, Wellington",NaN,Kai-tawaro,M,...,NaN,"Evening Post, 6/8/1912",ND-0115-Wellington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0115,ND-0115,98.0,NaN,NaN

In [30]:
data_country_1.Area.unique()

array(['North & South Carolina', 'St. Andrew Parish', nan,
       'KwaZulu-Natal', 'Florida', 'Calabria', 'Liguria', 'East Java',
       'New South Wales', 'Off Cape Haitien', 'South Island',
       "CÃ´te d'Azur ", 'Cyrenaica', 'North Island'], dtype=object)

In [31]:
data_country['Country'] = data_country['Country'].str.lower()

C:\Users\pepot\AppData\Local\Temp\ipykernel_17984\2976951944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_country['Country'] = data_country['Country'].str.lower()

In [32]:
data_country.Country.unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldives', 'bahamas', 'new caledonia',
       'ecuador', 'malaysia', 'libya', 'cuba', 'mauritius', 'new zealand',
       'spain', 'samoa', 'solomon islands', 'japan', 'egypt',
       'st helena, british overseas territory', 'comoros', 'reunion',
       'french polynesia', 'united kingdom', 'united arab emirates',
       'philippines', 'indonesia', 'china', 'columbia', 'cape verde',
       'fiji', 'dominican republic', 'cayman islands', 'aruba',
       'mozambique', 'puerto rico', 'italy', 'atlantic ocean', 'greece',
       'st. martin', 'france', 'papua new guinea', 'trinidad & tobago',
       'kiribati', 'israel', 'diego garcia', 'taiwan', 'jamaica',
       'palestinian territories', 'guam', 'seychelles', 'belize',
       'nigeria', 'tonga', 'scotland', 'canada', 'croatia',
       'saudi arabia', 'chile', 'antigua', 'kenya', 'russia',
       'turks & caicos', 'united arab emirates (uae)', 'azores',
       'south korea', 'malta', 'vietnam', 'madagascar', 'panama',
       'somalia', 'nevis', 'british virgin islands', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'st. maartin',
       'grand cayman', 'liberia', 'vanuatu', 'mexico ', 'honduras',
       'venezuela', 'sri lanka', ' tonga', 'uruguay', 'india',
       'micronesia', 'caribbean sea', 'okinawa', 'tanzania',
       'marshall islands', 'egypt / israel', 'northern arabian sea',
       'hong kong', 'el salvador', 'angola', 'bermuda', 'montenegro',
       'iran', nan, 'tunisia', 'namibia', 'north atlantic ocean',
       'portugal', 'south china sea', 'bangladesh', 'palau',
       'western samoa', 'pacific ocean ', 'british isles', 'grenada',
       'iraq', 'turkey', 'singapore', 'new britain', 'sudan',
       'johnston island', 'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'iceland', 'italy / croatia', 'barbados',
       'monaco', 'guyana', 'haiti', 'san domingo', 'ireland', 'kuwait',
       'cameroon', 'yemen ', 'reunion island', 'falkland islands',
       'crete', 'cyprus', 'egypt ', 'west indies', 'burma', 'lebanon',
       'paraguay', 'british new guinea', 'ceylon', 'ocean', 'georgia',
       'syria', 'tuvalu', 'indian ocean?', 'guinea', 'andaman islands',
       'equatorial guinea / cameroon', 'cook islands', 'tobago', 'peru',
       'africa', 'algeria', 'coast of africa', 'tasman sea', 'ghana',
       'greenland', 'mediterranean sea', 'sweden', 'caribe', 'roatan',
       'between portugal & india', 'djibouti', 'bahrein', 'korea',
       'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

In [33]:
mapeo_paises = {
    'English Channel': 'england',
    'Caribbean Sea': 'caribe',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'French Southern Territories': 'france',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'St Helena': 'australia',
    'Ionian Sea': 'italy'
 }

In [34]:
mapeo_paises.get('St Helena')

'australia'

In [35]:
mapeo_paises.get('australia', 'australia')

'australia'

In [36]:
data_country_1.Country.apply(lambda x: data_country_1.get(x, x))

2958              usa
3391          grenada
4026    caribbean sea
4239     south africa
4274              usa
4506            italy
4708            italy
4720        indonesia
5031        australia
5626            haiti
5757      new zealand
5824        australia
6162           france
6203            libya
6205      new zealand
Name: Country, dtype: object

In [37]:
data_country_1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2958,1983.00.00.b,1983,1983.0,Provoked,usa,North & South Carolina,NaN,Fishing,Commercial fishermen,M,...,Blue sharks,F. Schwartz,1983.00.00.b-Carolina-Fishermen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.b,1983.00.00.b,3345.0,NaN,NaN
3391,1970.06.13.b,13-Jun-1970,1970.0,Unprovoked,grenada,St. Andrew Parish,Grenville,Wading,Lincoln Alpheus,M,...,NaN,"E. Pace, FSAF",1970.06.13.b-LincolnJohn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1970.06.13.b,1970.06.13.b,2912.0,NaN,NaN
4026,1960.00.00.h,Early summer 1960,1960.0,Invalid,caribbean sea,NaN,"Between Key West, Florida & Guantanamo Bay, Cuba",Aircraft crashed into sea,"male, airline pilot",M,...,Shark involvement prior to death was not confi...,U.S. Naval Aviation Safety Center,1960.00.00.h-aircraft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.00.00.h,1960.00.00.h,2277.0,NaN,NaN
4239,1956.08.01,1-Aug-1956,1956.0,Unprovoked,south africa,KwaZulu-Natal,"Chain Rocks, Amanzimtoti",Free diving for crayfish,Maximilliaan Roual Van Dam,M,...,NaN,"Umtali Post, 8/8/1956, M. Levine, GSAF",1956.08.01-VanDam.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.08.01,1956.08.01,2064.0,NaN,NaN
4274,1955.12.11,11-Dec-1955,1955.0,Boating,usa,Florida,Â½ mile offshore & 9 miles north of Fort Pierce,Fishing for pompano,"boat, occupants: P.D. Neilly & Charlton Anderson",NaN,...,NaN,"R.F. Hutton, 3/30/1959, citing Miami Herald; T...",1955.12.11-boat Neilly_Charlton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.12.11,1955.12.11,2029.0,NaN,NaN
4506,1949.08.10.R,Reported 10-Aug-1949,1949.0,Unprovoked,italy,Calabria,Cosenza,Swimming,Giovanni Picarelli,M,...,NaN,"C. Moore, GSAF",1949.08.10.R-Picarelli.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1949.08.10.R,1949.08.10.R,1797.0,NaN,NaN
4708,1942.07.06,06-Jul-1942,1942.0,Provoked,italy,Liguria,Savona,Sculling,Gino Bardolini,M,...,Porbeagle shark,"C. Moore, GSAF",1942.07.06-Bardolini,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.07.06,1942.07.06,1595.0,NaN,NaN
4720,1942.00.00.k,1942,1942.0,Sea Disaster,indonesia,East Java,Surabaya,Captured Allied soldiers were squeezed into 3'...,200 soldiers,M,...,NaN,G. Duncan,1942.00.00.k-PigBasketAtrocity.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.00.00.k,1942.00.00.k,1583.0,NaN,NaN
5031,1930.12.13,13-Dec-1930,1930.0,Unprovoked,australia,New South Wales,"Sailor Bay, Middle Harbour, Sydney",Fell overboard,Frank Kenny,M,...,NaN,"Northern Standard (Dawin), 12/18/1930",1930.12.13-Kenny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1930.12.13,1930.12.13,1272.0,NaN,NaN
5626,1896.00.00.a,1896,1896.0,Unprovoked,haiti,Off Cape Haitien,NaN,Wading,Syrian,M,...,NaN,C. R. Baker & C.M. Rose; V.M. Coppleson (1958...,1896.00.00.a-Syrian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1896.00.00.a,1896.00.00.a,677.0,NaN,NaN
5757,1886.03.06.R,Reported 06-Mar-1886,1886.0,Invalid,new zealand,South Island,Dunedin,Bathing,Rodwell,M,...,Questionable,"Feilding Star, 3/6/1886, p.2",1886.03.06-Rodwell-NZ.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1886.03.06.R,1886.03.06.R,546.0,NaN,NaN
5824,1880.01.03,03-Jan-1880,1880.0,Unprovoked,australia,New South Wales,Cooranbong,Bathing,Teresa Bonnell,F,...,NaN,"Morning Bulletin, 1/28/1880",1880.01.03-Bonnell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1880.01.03,1880.01.03,479.0,NaN,NaN
6162,1700.00.00.b,1700s,1700.0,Unprovoked,france,CÃ´te d'Azur,Antibes,Bathing,seaman,M,...,White shark,"A. De Maddalena, citing Cazeils (1998)",1700.00.00.b-Antibes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1700.00.00.b,1700.00.00.b,141.0,NaN,NaN
6203,ND-0118,1896-1913,0.0,Unprovoked,libya,Cyrenaica,Kirinaiki,Sponge diving,a diver from Kalymnos,M,...,NaN,M. Bardanis,ND-0118-Stathis-partner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0118,ND-0118,100.0,NaN,NaN
6205,ND-0115,Before 08-Jun-1912,0.0,Unprovoked,new zealand,North Island,"Point Halsey, Wellington",NaN,Kai-tawaro,M,...,NaN,"Evening Post, 6/8/1912",ND-0115-Wellington.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0115,ND-0115,98.0,NaN,NaN

In [38]:
for i, e in mapeo_paises.items():
    if e in data_country_1.Country[e] == NaN:
        print()

KeyError: 'england'

In [ ]:
data_country_1['Country'] = data_country_1['Area'].map(mapeo_paises)

In [ ]:
data_country_1

In [ ]:
for i in range (len(df)):
data_country_1.iloc[[0,0]