In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('../Data/attacks.csv', encoding='latin1')

# 1. miramos cual es el shape del dataframe para saber y tener una idea general de como es

In [3]:
data.shape

(25723, 24)

# 2.hacemos una copia del dataframe original para poder editarlo y limpiarlo

In [4]:
data_sharks = data
data_sharks.shape

(25723, 24)

# 3. vamos a ver cuantos nulos hay y si podemos borrar filas

In [5]:
data_sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
null_f= data_sharks.isna().sum(axis=1)
null_f.sort_values(ascending=False)
null_f

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

In [7]:
null_f0= null_f[null_f>20]
null_f0.index
data_sharks.drop(null_f0.index, inplace=True)

In [8]:
data_sharks.shape

(6302, 24)

In [9]:
data_sharks.isna().sum()

Case Number                  1
Date                         0
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [10]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# 4. limpieza de countries, areas y location

In [11]:
data_country_1=data_sharks[['Country', 'Area','Location']]
data_country_1

,Country,Area,Location
0,USA,California,"Oceanside, San Diego County"
1,USA,Georgia,"St. Simon Island, Glynn County"
2,USA,Hawaii,"Habush, Oahu"
3,AUSTRALIA,New South Wales,Arrawarra Headland
4,MEXICO,Colima,La Ticla
...,...,...,...
6297,AUSTRALIA,Western Australia,Roebuck Bay
6298,AUSTRALIA,Western Australia,NaN
6299,USA,North Carolina,Ocracoke Inlet
6300,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW"
6301,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee"

In [12]:
data_missing_1=data_country_1[(data_country_1['Country'].isnull()) & (data_country_1['Area'].isnull()) & (data_country_1['Location'].isnull())]
data_missing_1.index

Index([  62,  525, 3378, 3388, 3395, 3399, 3425, 3661, 4726, 4729, 4911, 5060,
       5586, 5587, 5636, 5770, 5839, 5885, 5920, 5996, 6001, 6092, 6119, 6131,
       6133, 6165, 6171, 6199, 6259],
      dtype='int64')

In [13]:
data_sharks.drop(data_missing_1.index, inplace=True)

In [14]:
data_sharks.shape

(6273, 24)

In [15]:
mapeo_Area = {
    'English Channel': 'england',
    'Caribbean Sea': 'caribe',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'French Southern Territories': 'france',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'St Helena': 'australia',
    'Ionian Sea': 'italy'
 }

In [16]:
data_sharks[(data_sharks['Country'].isnull()) & (data_sharks['Area'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
3605,1965.10.21,21-Oct-1965,1965.0,Unprovoked,NaN,NaN,Florida Strait,The boat Caribou II sank,Mario Castellanos,M,...,NaN,"Lodi News Sentinel, 10/30/1965",1965.10.21-Castellanos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1965.10.21,1965.10.21,2698.0,NaN,NaN
4639,1944.10.24,24-Oct-1944,1944.0,Sea Disaster,NaN,NaN,225 miles east of Hong Kong,Japanese POW ship Arisan Maru with 1800 Americ...,NaN,M,...,NaN,internet (multiple),1944.10.24-ArisanMaru.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.24,1944.10.24,1664.0,NaN,NaN
5425,1909.01.17,17-Jan-1909,1909.0,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,M,...,Questionable,"Star, 3/18/1909",1909.01.17-Butler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.01.17,1909.01.17,878.0,NaN,NaN
5810,1881.06.25,25-Jul-1881,1881.0,Unprovoked,NaN,NaN,Santa Cruz,Bathing,Father Hudson,M,...,NaN,"Grey River Argus,10/3/1881, p.2",1881.06.25-FatherHudson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.06.25,1881.06.25,493.0,NaN,NaN
6155,1742.12.17,17-Dec-1742,1742.0,Unprovoked,NaN,NaN,Carlisle Bay,Swimming,2 impressed seamen,M,...,NaN,"C. Moore, GSAF",1742.12.17-AdviceSeamen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1742.12.17,1742.12.17,148.0,NaN,NaN
6206,ND-0114,Before 2012,0.0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND-0114,ND-0114,97.0,NaN,NaN

In [17]:
mapeo_location={
    'Florida Strait': 'usa',
    '225 miles east of Hong Kong': 'china',
    'Near the equator': 'cameroon',
    'Santa Cruz': 'usa',
    'Carlisle Bay': 'caribe',
    'In a river feeding into the Bay of Bengal':'india'
    
}

In [18]:
for index, row in data_sharks[data_sharks['Country'].isnull() & data_sharks['Area'].isnull() & data_sharks['Location'].notnull()].iterrows():
    if row['Location'] in mapeo_location:
        data_sharks.at[index, 'Country'] = mapeo_location[row['Location']]
        data_sharks.at[index, 'Area'] =  mapeo_location[row['Location']]

In [19]:
data_sharks[(data_sharks['Country'].isnull()) & (data_sharks['Location'].isnull())]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2956,1983.00.00.d,Ca. 1983,1983.0,Unprovoked,NaN,English Channel,NaN,Swimming,Padma Shri Taranath Narayan Shenoy,M,...,NaN,"Times of India, 2/5/2012",1983.00.00.d-Shenoy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1983.00.00.d,1983.00.00.d,3347.0,NaN,NaN
4018,1960.01.26,26-Jan-1960,1960.0,Sea Disaster,NaN,"Between Timor & Darwin, Australia",NaN,Portuguese Airliner with 9 people aboard went ...,NaN,NaN,...,NaN,"V.M. Coppleson (1962), p.260",1960.01.26-Portuguese airliner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.01.26,1960.01.26,2285.0,NaN,NaN
4231,1956.09.13,13-Sep-1956,1956.0,Unprovoked,NaN,Near the Andaman & Nicobar Islands,NaN,Climbing back on ship,male,M,...,Blue shark,M. Hosina,1956.09.13-TunaBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.09.13,1956.09.13,2072.0,NaN,NaN
4700,1942.11.00.a,Nov-1942,1942.0,Sea Disaster,NaN,Off South American coast,NaN,Dutch merchant ship Zaandam torpedoed by the ...,NaN,M,...,NaN,"M. Murphy; V.M. Coppleson (1962), pp.207-208",1942.11.00.a-Izzi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.11.00.a,1942.11.00.a,1603.0,NaN,NaN
4712,1942.06.00,Jun-1942,1942.0,Unprovoked,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,On life raft tethered to lifeboat. A seaman pu...,male,M,...,NaN,"V.M. Coppleson (1962), p.258",1942.06.00-on-life-raft.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1942.06.00,1942.06.00,1591.0,NaN,NaN
5612,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,...,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,NaN,NaN
5742,1887.07.30,30-Jul-1887,1887.0,Sea Disaster,NaN,Gulf of California,NaN,"Sea disaster, wreck of the sloop Sara",2 males,M,...,NaN,"Austin Weekly Statesman, 8/11/1887",1887.07.30-TheSara.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1887.07.30,1887.07.30,561.0,NaN,NaN
5808,1881.08.16.R,Reported 16-Aug-1881,1881.0,Unprovoked,NaN,Western Banks,NaN,"Floating, holding onto an oar after dory capsized",George Sedgwick,M,...,NaN,"Lewiston Evening Journal, 8/16/1881",1881.08.16.R-Sedgwick.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1881.08.16.R,1881.08.16.R,495.0,NaN,NaN
6175,0077.00.00,77 A.D.,77.0,Unprovoked,NaN,Ionian Sea,NaN,Sponge diving,males,M,...,NaN,Perils mentioned by Pliny the Elder (23 A.D. t...,77AD-Pliny.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0077.00.00,0077.00.00,128.0,NaN,NaN
6177,0000.0214,Ca. 214 B.C.,0.0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,...,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0000.0214,0000.0214,126.0,NaN,NaN

In [20]:
mapeo_Area = {
    'English Channel': 'england',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'Ionian Sea': 'italy'
 }

In [21]:
for index, row in data_sharks[data_sharks['Country'].isnull() & data_sharks['Location'].isnull() & data_sharks['Area'].notnull()].iterrows():
    if row['Area'] in mapeo_Area:
        data_sharks.at[index, 'Country'] = mapeo_Area[row['Area']]
        data_sharks.at[index, 'Location'] =  mapeo_Area[row['Area']]

In [22]:
null_1=data_sharks[(data_sharks['Area'].isnull()) & (data_sharks['Location'].isnull())]
null_1.index
data_sharks.drop(null_1.index, inplace=True)
data_sharks.shape

(6062, 24)

# 5 voy a limpiar la fila de country con un diccionario para que tengan nombres estandar

In [23]:
data_sharks['Country'] = data_sharks['Country'].str.lower()

In [24]:
mapeo_Pais = {
    'usa': 'usa',
    'australia': 'australia',
    'mexico': 'mexico',
    'brazil': 'brazil',
    'england': 'england',
    'south africa': 'south africa',
    'thailand': 'thailand',
    'costa rica': 'costa rica',
    'maldives': 'maldive islands',
    'bahamas': 'bahamas',
    'new caledonia': 'new caledonia',
    'ecuador': 'ecuador',
    'malaysia': 'malaysia',
    'libya': 'libya',
    'cuba': 'cuba',
    'mauritius': 'mauritius',
    'new zealand': 'new zealand',
    'spain': 'spain',
    'samoa': 'samoa',
    'solomon islands': 'solomon islands',
    'japan': 'japan',
    'egypt': 'egypt',
    'st helena, british overseas territory': 'england territory, atlantic',
    'comoros': 'comoros',
    'reunion': 'france territory, indian',
    'french polynesia': 'france territory, pacific',
    'united kingdom': 'england',
    'united arab emirates': 'united arab emirates',
    'philippines': 'philippines',
    'indonesia': 'indonesia',
    'china': 'china',
    'columbia': 'Colombia',
    'cape verde': 'cape verde',
    'fiji': 'fiji',
    'dominican republic': 'dominican republic',
    'cayman islands': 'england territory, caribe',
    'aruba': 'netherlands territory, caribe',
    'mozambique': 'mozambique',
    'puerto rico': 'puerto rico',
    'italy': 'italy',
    'greece': 'greece',
    'st. martin': 'france territory, caribe',
    'france': 'france',
    'trinidad & tobago': 'trinidad & tobago',
    'kiribati': 'kiribati',
    'israel': 'israel',
    'taiwan': 'taiwan',
    'jamaica': 'jamaica',
    'palestinian territories': 'palestinian',
    'seychelles': 'seychelles',
    'nigeria': 'nigeria',
    'tonga': 'tonga',
    'scotland': 'scotland',
    'canada': 'canada',
    'croatia': 'croatia',
    'saudi arabia': 'saudi arabia',
    'chile': 'chile',
    'antigua': 'antigua & barbuda',
    'papua new guinea': 'papua new guinea',
    'kenya': 'kenya',
    'russia': 'russia',
    'turks & caicos': 'england territory, caribe',
    'united arab emirates (uae)': 'united arab emirates',
    'azores': 'portugal',
    'south korea': 'south korea',
    'malta': 'malta',
    'vietnam': 'vietnam',
    'madagascar': 'madagascar',
    'guam': 'usa territory, pacific',
    'panama': 'panama',
    'somalia': 'somalia',
    'nevis': 'san cristÃ³bal y nevis',
    'british virgin islands': 'england territory, caribe',
    'norway': 'norway',
    'yemen': 'yemen',
    'gulf of aden': 'yemen',
    'belize': 'belize',
    'sierra leone': 'sierra leone',
    'atlantic ocean': 'atlantic ocean',
    'st. maartin': 'netherlands territory, caribe',
    'grand cayman': 'england territory, caribe',
    'vanuatu': 'vanuatu',
    'mexico ': 'mexico',
    'honduras': 'honduras',
    'venezuela': 'venezuela',
    'sri lanka': 'sri lanka',
    ' tonga': 'tonga',
    'uruguay': 'uruguay',
    'india': 'india',
    'micronesia': 'micronesia',
    'caribbean sea': 'venezuela',
    'okinawa': 'japan',
    'tanzania': 'tanzania',
    'marshall islands': 'marshall islands',
    'senegal': 'senegal',
    'egypt / israel': 'egypt',
    'hong kong': 'hong kong',
    'el salvador': 'el salvador',
    'angola': 'angola',
    'montenegro': 'montenegro',
    'iran': 'iran',
    'tunisia': 'tunisia',
    'namibia': 'namibia',
    'north atlantic ocean': 'atlantic ocean',
    'portugal': 'portugal',
    'bangladesh': 'bangladesh',
    'palau': 'palau',
    'western samoa': 'samoa',
    'british isles': 'england',
    'grenada': 'grenada',
    'iraq': 'iraq',
    'bermuda': 'england territory, atlantic',
    'turkey': 'turkey',
    'singapore': 'singapore',
    'new britain': 'usa',
    'sudan': 'sudan',
    'pacific ocean ': 'pacific ocean',
    'new guinea': 'new guinea',
    'red sea': 'saudi arabia',
    'federated states of micronesia': 'micronesia',
    'mid atlantic ocean': 'atlantic ocean',
    'admiralty islands': 'new guinea',
    'british west indies': 'england territory, caribe',
    'south atlantic ocean': 'atlantic ocean',
    'persian gulf': 'saudi arabia',
    'north pacific ocean': 'pacific ocean',
    'red sea / indian ocean': 'saudi arabia',
    'pacific ocean': 'pacific ocean',
    'north sea': 'england',
    'nicaragua ': 'nicaragua',
    'maldive islands': 'maldive islands',
    'american samoa': 'usa territory, pacific',
    'gabon': 'gabon',
    'mayotte': 'france territory, indian',
    'north atlantic ocean ': 'atlantic ocean',
    'the balkans': 'greece',
    'sudan?': 'sudan',
    'argentina': 'argentina',
    'indian ocean': 'indian ocean',
    'netherlands antilles': 'netherlands territory, caribe',
    'liberia': 'liberia',
    'northern mariana islands': 'usa territory, atlantic',
    'iran / iraq': 'iran',
    'java': 'indonesia',
    ' philippines': 'philippines',
    'nicaragua': 'nicaragua',
    'central pacific': 'pacific ocean',
    'solomon islands / vanuatu': 'solomon islands',
    'southwest pacific ocean': 'pacific ocean',
    'mid-pacifc ocean': 'pacific ocean',
    'slovenia': 'slovenia',
    'curacao': 'netherlands territory, caribe',
    'iceland': 'iceland',
    'italy / croatia': 'italy',
    'barbados': 'barbados',
    'monaco': 'monaco',
    'guyana': 'guyana',
    'haiti': 'haiti',
    'san domingo': 'dominican republic',
    'ireland': 'ireland',
    'cameroon': 'cameroon',
    'yemen ': 'yemen',
    'reunion island': 'france territory, indian',
    'cyprus': 'cyprus',
    'egypt ': 'egypt',
    'burma': 'burma',
    'lebanon': 'lebanon',
    'martinique': 'france territory, caribe',
    'british new guinea': 'new guinea',
    'ocean': 'atlantic ocean',
    'georgia': 'georgia',
    'tuvalu': 'tuvalu',
    'guinea': 'guinea',
    'equatorial guinea / cameroon': 'cameroon',
    'cook islands': 'new zealand',
    'tobago': 'trinidad & tobago',
    'peru': 'peru',
    'algeria': 'algeria',
    'coast of africa': 'south africa',
    'tasman sea': 'australia',
    'ghana': 'ghana',
    'sweden': 'sweden',
    'caribe': 'venezuela',
    'djibouti': 'djibouti',
    'korea': 'south korea',
    'ceylon (sri lanka)': 'sri lanka'
 }

In [25]:
data_sharks['Country'] = data_sharks['Country'].map(mapeo_Pais)

In [26]:
data_sharks.Country.unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldive islands', 'bahamas',
       'new caledonia', 'ecuador', 'malaysia', 'libya', 'cuba',
       'mauritius', 'new zealand', 'spain', 'samoa', 'solomon islands',
       'japan', 'egypt', 'england territory, atlantic', 'comoros',
       'france territory, indian', 'france territory, pacific',
       'united arab emirates', 'philippines', 'indonesia', 'china',
       'Colombia', 'cape verde', 'fiji', 'dominican republic',
       'england territory, caribe', 'netherlands territory, caribe',
       'mozambique', 'puerto rico', 'italy', 'greece',
       'france territory, caribe', 'france', 'trinidad & tobago',
       'kiribati', 'israel', 'taiwan', 'jamaica', 'palestinian',
       'seychelles', 'nigeria', 'tonga', 'scotland', 'canada', 'croatia',
       'saudi arabia', 'chile', 'antigua & barbuda', 'papua new guinea',
       'kenya', 'russia', 'portugal', 'south korea', 'malta', 'vietnam',
       'madagascar', 'usa territory, pacific', 'panama', 'somalia',
       'san cristÃ³bal y nevis', 'norway', 'yemen', 'belize',
       'sierra leone', 'atlantic ocean', 'vanuatu', 'honduras',
       'venezuela', 'sri lanka', 'uruguay', 'india', 'micronesia',
       'tanzania', 'marshall islands', 'senegal', 'hong kong',
       'el salvador', 'angola', 'montenegro', 'iran', 'tunisia',
       'namibia', 'bangladesh', 'palau', nan, 'grenada', 'iraq', 'turkey',
       'singapore', 'sudan', 'pacific ocean', 'new guinea', 'nicaragua',
       'gabon', 'argentina', 'indian ocean', 'liberia',
       'usa territory, atlantic', 'slovenia', 'iceland', 'barbados',
       'monaco', 'guyana', 'haiti', 'ireland', 'cameroon', 'cyprus',
       'burma', 'lebanon', 'georgia', 'tuvalu', 'guinea', 'peru',
       'algeria', 'ghana', 'sweden', 'djibouti'], dtype=object)

# 6 voy a copiar la fila de country en la fila de location y con un dicionario voy a poner los oceanos o mares donde estan

In [27]:
null_2=data_sharks[(data_sharks['Area'].isnull())]
null_2.index
data_sharks.drop(null_2.index, inplace=True)

In [28]:
data_sharks.shape

(5853, 24)

In [29]:
null_3=data_sharks[(data_sharks['Location'].isnull())]
null_3.index
data_sharks.drop(null_3.index, inplace=True)

In [30]:
null_4=data_sharks[(data_sharks['Country'].isnull())]
null_4.index
data_sharks.drop(null_4.index, inplace=True)

In [31]:
data_sharks['Location'] = data_sharks['Country']

In [32]:
data_sharks['Location'].unique()

array(['usa', 'australia', 'mexico', 'brazil', 'england', 'south africa',
       'thailand', 'costa rica', 'maldive islands', 'bahamas', 'ecuador',
       'malaysia', 'cuba', 'mauritius', 'new zealand', 'spain', 'samoa',
       'japan', 'egypt', 'england territory, atlantic', 'comoros',
       'france territory, pacific', 'united arab emirates',
       'france territory, indian', 'philippines', 'indonesia',
       'new caledonia', 'dominican republic', 'england territory, caribe',
       'mozambique', 'france', 'israel', 'jamaica', 'nigeria', 'tonga',
       'scotland', 'trinidad & tobago', 'canada', 'italy', 'saudi arabia',
       'chile', 'taiwan', 'antigua & barbuda', 'papua new guinea',
       'kenya', 'russia', 'seychelles', 'Colombia', 'fiji', 'south korea',
       'vietnam', 'madagascar', 'usa territory, pacific', 'panama',
       'solomon islands', 'croatia', 'norway', 'yemen', 'belize',
       'sierra leone', 'netherlands territory, caribe', 'china',
       'vanuatu', 'honduras', 'sri lanka', 'uruguay', 'venezuela',
       'india', 'micronesia', 'marshall islands', 'senegal', 'hong kong',
       'somalia', 'el salvador', 'montenegro', 'tunisia', 'namibia',
       'portugal', 'palau', 'iran', 'grenada', 'iraq', 'turkey',
       'pacific ocean', 'new guinea', 'greece', 'atlantic ocean',
       'nicaragua', 'gabon', 'malta', 'sudan', 'argentina', 'liberia',
       'tanzania', 'indian ocean', 'slovenia', 'barbados', 'cape verde',
       'kiribati', 'guyana', 'haiti', 'ireland', 'libya', 'cameroon',
       'cyprus', 'burma', 'lebanon', 'guinea', 'sweden', 'iceland'],
      dtype=object)

In [33]:
mapeo_location_oceano ={
    'usa': 'pacific ocean',
    'australia': 'pacific ocean',
    'mexico': 'caribbean sea',
    'brazil': 'atlantic ocean',
    'england': 'atlantic ocean',
    'south africa': 'atlantic ocean',
    'thailand': 'chinese sea',
    'costa rica': 'caribbean sea',
    'bahamas': 'atlantic ocean',
    'ecuador': 'pacific ocean',
    'malaysia': 'chinese sea',
    'cuba': 'caribbean sea',
    'mauritius': 'indian ocean',
    'new zealand': 'pacific ocean',
    'spain': 'mediterranean sea',
    'samoa': 'pacific ocean',
    'japan': 'pacific ocean',
    'egypt': 'mediterranean sea',
    'england territory, atlantic': 'atlantic ocean',
    'comoros': 'indian ocean',
    'france territory, pacific': 'pacific ocean',
    'united arab emirates': 'indian ocean',
    'france territory, indian': 'indian ocean',
    'philippines': 'pacific ocean',
    'indonesia': 'indian ocean',
    'new caledonia': 'pacific ocean',
    'china': 'chinese sea',
    'Colombia': 'caribbean sea',
    'cape verde': 'atlantic ocean',
    'fiji': 'pacific ocean',
    'dominican republic': 'caribbean sea',
    'england territory, caribe': 'caribbean sea',
    'mozambique': 'indian ocean',
    'italy': 'mediterranean sea',
    'france': 'atlantic ocean',
    'trinidad & tobago': 'atlantic ocean',
    'kiribati': 'pacific ocean',
    'israel': 'mediterranean sea',
    'taiwan': 'pacific ocean',
    'jamaica': 'caribbean sea',
    'nigeria': 'atlantic ocean',
    'tonga': 'pacific ocean',
    'scotland': 'atlantic ocean',
    'canada': 'pacific ocean',
    'saudi arabia': 'red sea',
    'chile': 'pacific ocean',
    'antigua & barbuda': 'caribbean sea',
    'papua new guinea': 'pacific ocean',
    'kenya': 'indian ocean',
    'russia': 'pacific ocean',
    'seychelles': 'indian ocean',
    'solomon islands': 'pacific ocean',
    'south korea': 'chinese sea',
    'vietnam': 'chinese sea',
    'madagascar': 'indian ocean',
    'usa territory, pacific': 'pacific ocean',
    'panama': 'caribbean sea',
    'croatia': 'mediterranean sea',
    'norway': 'norway sea',
    'yemen': 'indian ocean',
    'belize': 'caribbean sea',
    'sierra leone': 'atlantic ocean',
    'atlantic ocean': 'atlantic ocean',
    'netherlands territory, caribe': 'caribbean sea',
    'vanuatu': 'pacific ocean',
    'honduras': 'caribbean sea',
    'sri lanka': 'indian ocean',
    'uruguay': 'atlantic ocean',
    'venezuela': 'caribbean sea',
    'india': 'indian ocean',
    'micronesia': 'pacific ocean',
    'marshall islands': 'pacific ocean',
    'senegal': 'atlantic ocean',
    'hong kong': 'chinese sea',
    'somalia': 'indian ocean',
    'el salvador': 'pacific ocean',
    'angola': 'atlantic ocean',
    'montenegro': 'mediterranean sea',
    'greece': 'mediterranean sea',
    'tunisia': 'mediterranean sea',
    'namibia': 'atlantic ocean',
    'portugal': 'atlantic ocean',
    'bangladesh': 'indian ocean',
    'palau': 'pacific ocean',
    'iran': 'indian ocean',
    'grenada': 'caribbean sea',
    'iraq': 'indian ocean',
    'tanzania': 'indian ocean',
    'england territory, atlantic': 'atlantic ocean',
    'turkey': 'mediterranean sea',
    'sudan': 'red sea',
    'pacific ocean': 'pacific ocean',
    'new guinea': 'pacific ocean',
    'nicaragua': 'caribbean sea',
    'maldive islands': 'indian ocean',
    'gabon': 'atlantic ocean',
    'malta': 'mediterranean sea',
    'argentina': 'atlantic ocean',
    'liberia': 'atlantic ocean',
    'singapore': 'chinese sea',
    'usa territory, atlantic': 'atlantic ocean',
    'indian ocean': 'indian ocean',
    'slovenia': 'mediterranean sea',
    'iceland': 'atlantic ocean',
    'barbados': 'atlantic ocean',
    'monaco': 'mediterranean sea',
    'guyana': 'atlantic ocean',
    'haiti': 'caribbean sea',
    'ireland': 'atlantic ocean',
    'libya': 'mediterranean sea',
    'cameroon': 'atlantic ocean',
    'cyprus': 'mediterranean sea',
    'burma': 'indian ocean',
    'lebanon': 'mediterranean sea',
    'guinea': 'atlantic ocean',
    'ghana': 'atlantic ocean',
    'sweden': 'baltic sea',
    'djibouti': 'indian ocean'
 }

In [34]:
data_sharks['Location'] = data_sharks['Location'].map(mapeo_location_oceano)

In [35]:
data_sharks['Location'].unique()

array(['pacific ocean', 'caribbean sea', 'atlantic ocean', 'chinese sea',
       'indian ocean', 'mediterranean sea', 'red sea', 'norway sea',
       'baltic sea'], dtype=object)

# 7 aqui veo cuantos ataques hay por oceano

In [36]:
data_sharks['Location'].value_counts()

Location
pacific ocean        4033
atlantic ocean        845
indian ocean          221
mediterranean sea     208
caribbean sea         201
chinese sea            38
red sea                10
norway sea              1
baltic sea              1
Name: count, dtype: int64

# 8 voy a crear una nueva columna con el pais y el oceano/mar en el que esta pasando y eliminar las dos ultimas columnas que son todo NAN

In [37]:
data_sharks['pais-oceano']= data_sharks['Country']+'-'+data_sharks['Location']

In [38]:
data_sharks.drop(columns=['Unnamed: 22','Unnamed: 23'], inplace=True)

In [39]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,pais-oceano
0,2018.06.25,25-Jun-2018,2018.0,Boating,usa,California,pacific ocean,Paddling,Julie Wolfe,F,...,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,usa-pacific ocean
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,pacific ocean,Standing,AdysonÂ McNeely,F,...,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,usa-pacific ocean
2,2018.06.09,09-Jun-2018,2018.0,Invalid,usa,Hawaii,pacific ocean,Surfing,John Denges,M,...,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,usa-pacific ocean
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,pacific ocean,Surfing,male,M,...,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,australia-pacific ocean
4,2018.06.04,04-Jun-2018,2018.0,Provoked,mexico,Colima,caribbean sea,Free diving,Gustavo Ramos,M,...,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,mexico-caribbean sea

In [40]:
data_sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'pais-oceano'],
      dtype='object')

In [41]:
data_sharks = data_sharks[['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location','pais-oceano',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order']]

In [42]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,pais-oceano,Activity,Name,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,usa,California,pacific ocean,usa-pacific ocean,Paddling,Julie Wolfe,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,pacific ocean,usa-pacific ocean,Standing,AdysonÂ McNeely,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,usa,Hawaii,pacific ocean,usa-pacific ocean,Surfing,John Denges,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,pacific ocean,australia-pacific ocean,Surfing,male,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,mexico,Colima,caribbean sea,mexico-caribbean sea,Free diving,Gustavo Ramos,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [43]:
data_sharks.isna().sum()

Case Number                  1
Date                         0
Year                         1
Type                         2
Country                      0
Area                         0
Location                     0
pais-oceano                  0
Activity                   430
Name                       147
Sex                        463
Age                       2297
Injury                      20
Fatal (Y/N)                459
Time                      2724
Species                   2353
Investigator or Source      15
pdf                          0
href formula                 1
href                         0
Case Number.1                0
Case Number.2                0
original order               0
dtype: int64

In [55]:
data_sharks['Date']

0       25-Jun-2018
1       18-Jun-2018
2       09-Jun-2018
3       08-Jun-2018
4       04-Jun-2018
           ...
6292     Circa 1862
6296    Before 1906
6297    Before 1903
6299      1900-1905
6301      1845-1853
Name: Date, Length: 5558, dtype: object

In [49]:
data_sharks.Time.fillna('unknown', inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_17604\1184262207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.Time.fillna('unknown', inplace=True)

In [50]:
data_sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,pais-oceano,Activity,Name,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,usa,California,pacific ocean,usa-pacific ocean,Paddling,Julie Wolfe,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,usa,Georgia,pacific ocean,usa-pacific ocean,Standing,AdysonÂ McNeely,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,usa,Hawaii,pacific ocean,usa-pacific ocean,Surfing,John Denges,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,australia,New South Wales,pacific ocean,australia-pacific ocean,Surfing,male,...,N,unknown,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,mexico,Colima,caribbean sea,mexico-caribbean sea,Free diving,Gustavo Ramos,...,N,unknown,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [59]:
data_sharks[['Case Number','Date', 'Year']]

     Case Number         Date    Year
0     2018.06.25  25-Jun-2018  2018.0
1     2018.06.18  18-Jun-2018  2018.0
2     2018.06.09  09-Jun-2018  2018.0
3     2018.06.08  08-Jun-2018  2018.0
4     2018.06.04  04-Jun-2018  2018.0
...          ...          ...     ...
6292     ND.0010   Circa 1862     0.0
6296     ND.0006  Before 1906     0.0
6297     ND.0005  Before 1903     0.0
6299     ND.0003    1900-1905     0.0
6301     ND.0001    1845-1853     0.0

[5558 rows x 3 columns]

In [65]:
null_5=data_sharks[(data_sharks['Case Number'].isnull())]
null_5.index
data_sharks.drop(null_5.index, inplace=True)

C:\Users\pepot\AppData\Local\Temp\ipykernel_17604\2311891835.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_sharks.drop(null_5.index, inplace=True)

# PRUEBAS: voy a comparar la fila de country con Area y ver so puedo limpiar nulos o remplazar nulos por nombres

In [45]:
data_sharks['Country'] = data_sharks['Country'].str.lower()cdvfdvfvfverfverfv

data_sharks.Country.unique()

SyntaxError: invalid syntax (2053530038.py, line 1)

In [ ]:
data_country=data_sharks[['Country', 'Area']]
data_country

In [ ]:
data_missing=data_country[(data_country['Country'].isnull()) & (data_country['Area'].isnull())]
data_missing.index
#data_sharks.iloc[data_country[(data_country['Country'].isnull()) & (data_country['Area'].isnull())].index] (sirve para comprobar que la funcion que estoy haciendo esta bien)

In [ ]:
data_country.drop(data_missing.index, inplace=True)

In [ ]:
data_country

In [ ]:
data_country.isna().sum()

In [ ]:
data_country_1=data_sharks.iloc[data_country[(data_country['Country'].isnull())].index]
data_country_1

In [ ]:
data_country_1.Area.unique()

In [ ]:
data_country['Country'] = data_country['Country'].str.lower()

In [ ]:
data_country.Country.unique()

In [ ]:
mapeo_paises = {
    'English Channel': 'england',
    'Caribbean Sea': 'caribe',
    'Between Timor & Darwin, Australia': 'australia',
    'Near the Andaman & Nicobar Islands': 'india',
    'Between Comores & Madagascar': 'madagascar',
    'Off South American coast':'chile',
    '300 miles east of St. Thomas (Virgin Islands)': 'usa',
    'French Southern Territories': 'france',
    'Mediterranean Sea': 'spain',
    'Gulf of California': 'mexico',
    'Western Banks': 'australia',
    'St Helena': 'australia',
    'Ionian Sea': 'italy'
 }

In [ ]:
mapeo_paises.get('St Helena')

In [ ]:
mapeo_paises.get('australia', 'australia')

In [ ]:
data_country_1.Country.apply(lambda x: data_country_1.get(x, x))

In [ ]:
data_country_1

In [ ]:
for i, e in mapeo_paises.items():
    if e in data_country_1.Country[e] == NaN:
        print()

In [ ]:
data_country_1['Country'] = data_country_1['Area'].map(mapeo_paises)

In [ ]:
data_country_1

In [ ]:
for i in range (len(df)):
data_country_1.iloc[[0,0]